.card {
  max-width: 250px;
  height: 420px;
}

.details {
  text-decoration: none;
  margin-top: 10px;
  color: black;
}

.details:hover {
  color: rgb(56, 54, 54);
  cursor: pointer;
}

.link:hover {
  color: rgb(56, 54, 54);
  font-weight: 550;
}

.button {
  margin-top: 50px;
}

.cart {
  margin-left: 17px;
  background-color: black;
}

.cart:hover {
  background-color: rgb(56, 54, 54);
}
