.register-form {
  width: 100%;
  max-width: 100vw;
  padding: 15px;
  margin: auto;
  height: 100vh;
}

@media (min-width: 500px) {
  .register-form {
    max-width: 40vw;
  }
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}
