.card {
  padding: 5px;
}

.title {
  color: white;

  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.input {
  margin-inline: 8px;
  margin-top: 10px;
}

.dropdown {
  margin-top: 5px;
  margin-inline: 5px;
}

.category {
  width: 100%;

  margin-top: 5px;
}

.button {
  width: 100%;

  background-color: rgb(30, 167, 253);
}

.button:hover {
  background-color: rgb(35, 139, 204);
}

.sort {
  margin-top: 30px;
}

#filter {
  height: 310px;
}

#sort {
  height: 127px;
}

.page {
  margin-top: 30px;
}

.pagination {
  height: 127px;

  background-color: #444;
}
